html {font-family: 'Coming Soon', cursive;}
span > span {color: pink;}
li:nth-child(4) {color: gray;}

/* ul:first-child {color: red;}
ul:nth-child(2) {color: black;}
ul:nth-child(3) {color: black;} */
li:nth-child(1) {color: blue;}
/* li:nth-child(1) li:nth-child(1), li:nth-child(1) li:nth-child(2) {color:red} */
li:nth-child(1) li {color: red;}
li:nth-child(1) li:nth-child(3) {color:green}
li:nth-child(2) li {color: black;}
li:nth-child(3) li {color: black;}

.sqefqsf {background-image: ;}